body {
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.toolbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.editable {
    border: 1px solid #ccc;
    min-height: 120px;
    line-height: 1.2;
    white-space: pre-wrap;
}
#casoActivo{
    margin-left: 20px;

    font-weight: bold;

    color: #444;
}
