body {
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

:root{
    --color-caso: #2196F3;
}

.toolbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    padding: 10px;

    border-bottom: 1px solid #ccc;

    border-top: 8px solid var(--color-caso);
}

.editable {
    border: 1px solid #ccc;
    min-height: 120px;
    line-height: 1.1;
    white-space: pre-wrap;

    padding-top: 4px;
    padding-bottom: 4px;
}
#casoActivo{
    margin-left: 20px;

    font-weight: bold;

    color: #444;
}
#casoActivo{

    margin-left: 20px;

    font-weight: bold;

    color: var(--color-caso);

}
.editable p,
.editable div {
    margin-top: 0;
    margin-bottom: 0;
}
